<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>login in page</title>
        <link href="http://13.75.45.244:8000/static/css/login_page/login.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<form>
  <h1>教师个人登录</h1>
  <div class="inset">
  <p>
    <label for="email">用户名</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">密码</label>
    <input type="password" name="password" id="password">
  </p>
  <p>
    <input type="checkbox" name="remember" id="remember">
    <label for="remember">保持自动登录</label>
  </p>
  </div>
  <p class="p-container">
    <span>忘记密码了？                                 </span><a href="http://13.75.45.244:8000/select_page/">登录</a>
  </p>
</form>
</html>
