<!DOCTYPE html>
<html lang="en">
<head>
<title>Utopya</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">主页</a>
    <a href="http://13.75.45.244:8000/teacher_login/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">教师</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">学生</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">主页</a>
    <a href="http://13.75.45.244:8000/teacher_login/" class="w3-bar-item w3-button w3-padding-large">教师</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">学生</a>
  </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1800px;" id="home">
  <img src="http://13.75.45.244:8000/static/images/main/main_header.jpg" alt="Architecture" width="1800" height="900" class="w3-image w3-opacity-max">
  <div class="w3-display-middle w3-center">
  <h1 class="w3-margin w3-jumbo">Utopya</h1>
  <p class="w3-xlarge">智能乡村教师成绩分析助手</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">了解更多</button>
  </div>
</header>
<!-- Header -->

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="max-width:1800px;">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>教师辅助</h1>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey">通过公共治理结构改革，国家和地方设立创新项目和特殊岗位时，要引入具有创造力和执行力的思想家、实践者，打通高等教育和基础教育的制度分界线，在农村合理布局高校，打通高校教师、中小学乡村教师和外部民间力量之间的壁垒。</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" style="max-width:1800px;">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>学生助手</h1>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey">通常所说的教育，都是指校园教育，具有通用的区域或国家标准教材，有指定的教师，进行课堂口授讲述，辅之以板书和作业，结合测验、抽查考试、期中和期末考试，加上升学考试，再进入职业生涯。在信息化发达的今天，先进的教育，已不会再用私塾和一对一这样的落后的、高成本的、低效率的教育手段了！互动、快乐、学校指定和学生自选课程等都是比较先进的教育技术手段，至于案例教学，则是职业教育中比较成功的手段。借助信息化，把教育中可能遇到的种种技术和管理问题，更加精确地描述，让更多的人才在先进的教育技术条件下，更快的、更多的、一生学习接受科学知识和物质财富。</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
