<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="http://127.0.0.1:8000/static/css/main_analyze_profile_pages/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/main_analyze_profile_pages/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="http://127.0.0.1:8000/static/js/main_analyze_profile_pages/echarts.min.js"></script>
  </head>
  <body class="h-100">
            <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/shards-dashboards-logo.svg" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">“智慧班主任”平台</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="http://127.0.0.1:8000/Home_page_class_profile">
                  <i class="material-icons">edit</i>
                  <span>班级整体分析</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="material-icons">vertical_split</i>
                  <span>学生个体分析</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
         <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="搜索" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                  <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-link-icon__wrapper">
                      <i class="material-icons">&#xE7F4;</i>
                      <span class="badge badge-pill badge-danger">2</span>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">&#xE6E1;</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Analytics</span>
                        <p>Your website’s active users count increased by
                          <span class="text-success text-semibold">28%</span> in the last week. Great job!</p>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="notification__icon-wrapper">
                        <div class="notification__icon">
                          <i class="material-icons">&#xE8D1;</i>
                        </div>
                      </div>
                      <div class="notification__content">
                        <span class="notification__category">Sales</span>
                        <p>Last week your store’s sales count decreased by
                          <span class="text-danger text-semibold">5.52%</span>. It could have been worse!</p>
                      </div>
                    </a>
                    <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">丹妮老师</span>
                  </a>

                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            
	  
<!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">-智慧班主任-</span>
                <h3 class="page-title">个人成绩档案及分析</h3>
              </div>
            </div>
<!-- End Page Header -->

<!-- Small Stats Blocks -->
            <div class="row">
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase"><font size="3.5">学生姓名</font></span>
                        <h6 class="stats-small__value count my-3">林黛玉</h6>
                      </div>
                      <div class="stats-small__data">
            
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase"><font size="3.5">性别</font></span>
                        <h6 class="stats-small__value count my-3">女</h6>
                      </div>
                      <div class="stats-small__data">
                        
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase"><font size="3.5">年级班级</font></span>
                        <h6 class="stats-small__value count my-3">初一一班</h6>
                      </div>
                      <div class="stats-small__data">
                        
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase"><font size="3.5">参与考试数目</font></span>
                        <h6 class="stats-small__value count my-3">3</h6>
                      </div>
                      <div class="stats-small__data">
                        
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                  </div>
                </div>
              </div>
<!-- End Small Stats Blocks -->


<!-- Selection Block -->
                  <div class="card-body pt-0">
                    <div class="row border-bottom py-2 bg-light">
         		<div class="main-content-container container-fluid px-4">
		
<form action="" method="get">
	<table>
	<tr>	
	<td>
	<h2><font size="5.5">请选择考试：</font></h2>
	<select name="drop1" class="ui-select" index=40px>
					<option value="0">2019春季学期入学考试</option>
					<option value="1">2019春季学期期中测试</option>
					<option value="2">2019春季学期期末测试</option>		</select>
	</td>

	<td>
				<input type="submit" value="确定" />
	</td></tr></table></form></div></div>
<!-- End Selection Block -->


<!-- Grades Statistics Table -->
	<!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">-智慧班主任-</span>
                <h3 class="page-title">个人成绩的统计对比分析</h3>
              </div>
            </div>
	<!-- End Page Header -->
	<!-- Default Light Table -->
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">个人、班级与年级成绩情况统计表</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0"> </th>
                          <th scope="col" class="border-0">语文</th>
                          <th scope="col" class="border-0">数学</th>
                          <th scope="col" class="border-0">英语</th>
 			  <th scope="col" class="border-0">总分</th>
                          <th scope="col" class="border-0">备注</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>本次考试分数 (例)</td>
                          <td> 93</td>
                          <td> 85</td>
                          <td> 52</td>
			  <td> 230</td>	
                          <td>  英语未及格</td>
                        </tr>
                        <tr>
                          <td>本次班级均分</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
		          <td> </td>	
                        </tr>
                        <tr>
                          <td>本次年级均分</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
<td> </td>
                        </tr>
                        <tr>
                          <td>上次考试分数</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
<td> </td>
                        </tr>
          		<tr>
                          <td>上次班级均分</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
<td> </td>
                        </tr>
          		<tr>
                          <td>上次年级俱焚</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
<td> </td>
                        </tr>
		      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<!-- End Grades Statistics Table -->




<!-- Histogram -->

            <div class="row">
	     <!-- Users Stats -->
              <div class="col-lg-13 col-md-12 col-sm-12 mb-4">
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">个人、班级与年级成绩对比情况柱状图</h6>
                  </div>
                  <div class="card-body pt-0">
                    <div class="row border-bottom py-2 bg-light">
                      <div class="col-12 col-sm-6">
                        
    <div id="main" style="width: 1000px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
        tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['个人分数','班级平均分','年级平均分']
    },
    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ['语文','数学','英语','总分']
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
	{
            name:'个人分数',
            type:'bar',
            data:[75.0, 70.9, 67.0, 230],
                    },
        {
            name:'班级平均分',
            type:'bar',
            data:[85.0, 74.9, 57.0, 212],
                    },
        {
            name:'年级平均分',
            type:'bar',
            data:[72.6, 85.9, 89.0, 220],
            
        }
    ]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script> </div></div></div></div></div>
<!-- End Histogram -->



<!-- Grades Plot -->
             <div class="col-lg-13 col-md-12 col-sm-12 mb-4">
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">个人成绩历史变化</h6>
                  </div>
                  <div class="card-footer border-top">
   <div id="main3" style="width: 1000px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart3 = echarts.init(document.getElementById('main3'));

        // 指定图表的配置项和数据
        var option = {
    xAxis: {
        type: 'category',
        data: ['2019春季学期入学考试','2019春季学期期中测试','2019春季学期期末测试']
    },
    yAxis: {
        type: 'value'
    },
    legend: {
        data:['语文','数学','英语']
    },
    series: [{
	name: '语文',
        data: [62, 84, 85],
        type: 'line',
        smooth: true
    },
{
	name: '数学',
        data: [71, 92, 83],
        type: 'line',
        smooth: true
    },
{
	name: '英语',
        data: [51, 72, 93],
        type: 'line',
        smooth: true
    }]
};
        myChart3.setOption(option);
    </script> </div></div></div></div></div>
<!-- EndGrades Plot -->




<!-- Teaching Advice -->
              <div class="col-lg-13 col-md-12 col-sm-12 mb-4">
                <div class="card card-small blog-comments">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">智能教学建议</h6>
                  </div>
                  <div class="card-body p-0">
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/1.jpg" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">建议一：</a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">该同学本次考试表现为：较差。</p>
                                              </div>
                    </div>
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/2.jpg" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">建议二：</a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">语文高于/低于班级平均分，高于/低于年级平均分，较上次有进步/退步。数学高于/低于班级平均分，高于/低于年级平均分，较上次有进步/退步。英语高于/低于班级平均分，高于/低于年级平均分，较上次有进步/退步。总分高于/低于班级平均分，高于/低于年级平均分，较上次有进步/退步。
</p>
                                              </div>
                    </div>
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/3.jpg" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">建议三：</a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">建议加强的科目：语文，数学，英语
。</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-- End Teaching Advice -->




<!-- Selection Block 2-->
                  <div class="card-body pt-0">
                    <div class="row border-bottom py-2 bg-light">
         		<div class="main-content-container container-fluid px-4">
		
<form action="" method="get">
	<table>
	<tr>	
	<td>
	<h2><font size="5.5">请选择科目：</font></h2>
	<select name="drop1" class="ui-select" index=40px>
					<option value="0">语文</option>
					<option value="1">数学</option>
					<option value="2">英语</option>		</select>
	</td>

	<td>
				<input type="submit" value="确定" />
	</td></tr></table></form></div></div></div></div>
<!-- End Selection Block 2 -->




<!-- Grades Statistics Table 2 -->
	<!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">-智慧班主任-</span>
                <h3 class="page-title">个人成绩的统计对比分析</h3>
              </div>
            </div>
	<!-- End Page Header -->
	<!-- Default Light Table -->
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">该科目各模块成绩情况统计表</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0"> </th>
                          <th scope="col" class="border-0">听力</th>
                          <th scope="col" class="border-0">完形填空</th>
                          <th scope="col" class="border-0">阅读理解</th>
 			  <th scope="col" class="border-0">作文</th>
                          <th scope="col" class="border-0">总分</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>学生个人得分 (例)</td>
                          <td> 23</td>
                          <td> 15</td>
                          <td> 22</td>
			  <td> 30</td>	
                          <td> 90</td>
                        </tr>
                        <tr>
                          <td>本次班级均分</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
		          <td> </td>	
                        </tr>
                        <tr>
                          <td>本次年级均分</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
<td> </td>
                        </tr>
                        
		      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<!-- End Grades Statistics Table 2-->




<!-- Radar Map -->
              <div class="col-lg-13 col-md-12 col-sm-12 mb-4">
                <div class="card card-small h-100">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">该科目各项得分雷达分析图</h6>
                  </div>
    <div id="main2" style="width:1000px; height:600px; left:30px;top:20px"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('main2'));
        // 指定图表的配置项和数据
        var option = {
    tooltip: {},
    legend: {
        data: ['学生分数', '班级平均','年级平均']
    },
    radar: {
        // shape: 'circle',
        name: {
            textStyle: {
                color: '#fff',
                backgroundColor: '#999',
                borderRadius: 3,
                padding: [3, 5]
           }
        },
        indicator: [
           { name: '听力', max: 50},
           { name: '完形填空', max: 50},
           { name: '阅读理解', max: 50},
           { name: '作文', max: 50},
           { name: '总分', max: 150}
        ]
    },
    series: [{
        name: '个人 vs 班级 vs 年级',
        type: 'radar',
        // areaStyle: {normal: {}},
        data : [
	    {
                value : [35.0, 34.9, 37.0, 43.2, 111.6],
                name : '学生分数'
            },
            {
                value : [25.0, 24.9, 27.0, 23.2, 91.6],
                name : '班级平均'
            },
             {
                value : [22.6, 25.9, 29.0, 26.4, 98.7],
                name : '年级平均'
            }
        ]
    }]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);
    </script> 
                    </div>
                  </div>
                </div>
              </div>          
<!-- End Radar Map -->



<!-- Teaching Advice 2-->
              <div class="col-lg-13 col-md-12 col-sm-12 mb-4">
                <div class="card card-small blog-comments">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">智能教学建议</h6>
                  </div>
                  <div class="card-body p-0">
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/1.jpg" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">建议一：</a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">该同学在该科目中的强项板块为：听力、阅读理解、写作。</p>
                                              </div>
                    </div>
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/2.jpg" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">建议二：</a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">该同学在该科目中的弱项板块为：完形填空。
</p>
                                              </div>
                    </div>
                    <div class="blog-comments__item d-flex p-3">
                      <div class="blog-comments__avatar mr-3">
                        <img src="http://127.0.0.1:8000/static/images/main_analyze_profile_pages/avatars/3.jpg" alt="User avatar" /> </div>
                      <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                          <a class="text-secondary" href="#">建议三：</a>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">应注意辅导该学生在完形填空中的问题
。</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-- End Teaching Advice 2-->
